body {
  background: #000;
  color: #fff;
  margin-top: 5rem;
  font-size: 1em;
	font-family: 'Source Serif Pro', 'Helvetica Neue', serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
  font-family: 'Source Sans Pro', sans-serif;
}

.my-bg-dark {
  background-color: #000;
}

.my-primary {
  color: #86C232;
}

.my-secondary {
  color: #86C232;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #fff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.navbar-dark .navbar-brand {
  color: #86C232;
}

.content-section-main {
  padding: 10px 20px;
  border-radius: 3px;
  margin-bottom: 20px;
  word-wrap: break-word;
  padding-left: 100px;
}

.content-section-sidebar a {
  color: #fff;
  font-size: 15px;
  display: block;
  padding: 6px 8px 6px 16px;
}

.content-section-sidebar {
  height: 100%;
  width: auto;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #000;
  overflow-x: hidden;
  padding-top: 25px;
  border-right-color: #fff;
  border-right-style: solid;
  border-right-width: thin
}

.article-title {
  color: #fff;
}

.article-content {
  white-space: pre-line;
  padding-left: 25px;
  padding-right: 25px;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 6px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

#text {
  overflow-wrap: break-word;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.form-check-input {
  outline: 0.5px solid #ffffff;
}

.form-check-label {
  margin-left: .5rem;
}

 /* changed bootstrap info theme to my page's b/w theme for hover/normal */
.btn-outline-info:hover {
  background-color: #000;
  color: #86C232;
  border-color: #000;
}

.btn-outline-info {
  background-color: #fff;
  border-color: #fff;
}

.my-btn-info{
  border-color: #86C232;
  color: #fff;
}

a {
	color: #86C232;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
  color: #86C232;

}

.header {
	padding: 8.5em 0;
	background-repeat: no-repeat;
	background-size: cover;
}

.footer,
.header-intro,
.header-name {
	text-align: center;
}

.header-intro {
	margin-bottom: 0em;
	font-size: 2.25em;
	text-shadow: 0px 1px 0px #404040;
}

.header-name {
	margin-top: -0.2em;
	font-size: 5.0em;
	text-shadow: 0px 3px 0px #404040;
	font-weight: 700;
}

.footer {
	padding: 2em 0;
	color: #fff;
	margin-top: 2em;
}

.footer p {
	text-align: center;
}

.my-navbar-bg {
  background-color: #000;
}

.about,
.passion,
.contact {
	max-width: 100.5em;
	margin: 0 auto;
	margin-top: 3em;
	line-height: 1.5em;
}

.passion h3 {
	color: #fff;
}

.social {
  color: #86C232;
  text-align: center;
  margin-left: -2em;
}

.social > li {
  list-style: none;
  display: inline-block;
  margin 0 1.0em;
}

.card {
  border-color: #86C232;
  border-width: medium;
}

.tags {
  color: black;
}

.modal-footer {
  color: black;
}