{% extends "layout.html" %}
{% block about %}
<div class="text-white">
  <header class="header">
    <div>
      <p class="header-intro">Hi, I'm</p>
      <h1 class="header-name">Jason</h1>
    </div>
  </header>

  <section class="about">
    <h2>| Introduction |</h2>
    <br>
    <p>Hi, I'm an aspiring remote freelance Python Developer currently based near Los Angeles, California.</p>
    <br>
    <p>I received my BS of Computer Science from Jackson State University in December 2017. I have worked at Lockheed Martin as a Software Engineer from graduation until present.</p>
  </section>

  <section class="passion">
    <h2>| Passions |</h2>
    <br>
    <p>Development: Programming for me is the ability to take something in my imagination and make it real.</p>
    <br>
    <p>Photography: Photography for me is the ability to take a moment in time and immortalize it.</p>
    <br>
    <p>Travel: Travel for me is the ability to see the world through someone else. </p>
  </section>

  <section class="contact">
    <h2>| Contact |</h2>
    <br>
    <p>If you are interested in talking to me about a project you would like me to work on for you, or
      if you have any questions in general. Please feel free to contact me at the email below. </p>
    <br>
    <p>Email: jasondreams0513@gmail.com</p>
  </section>

  <footer class="footer">
    <ul class="social">
      <li><a href="https://github.com/JsonTyler" target="_blank">Github</li>
      <li><a href="https://www.linkedin.com/in/jason-bruno/" target="=_blank">LinkedIn</li>
      <li><a href="https://www.youtube.com/" target="_blank">Youtube</li>
    </ul>
  </footer>
</div>
{% endblock about %}
