{% extends "layout.html" %}
{% block about %}
<div class="container col-md-12">
  <header class="header col-md-12">
      <p class="header-intro my-primary">Hi, I'm</p>
      <h1 class="header-name my-primary">Jason</h1>
    </div>
  </header>

  <section class="about text-white col-md-4">
    <h2 class="text-white">Introduction</h2>
    <br>
    <p>
      Hi, so a little about me. I live in Richland, Washington with my
      girlfriend and am the lucky dad of two cats [jesska and milo]; as well as
      one turtle [marilyn].
    </p>

    <p>
      I received my BS of Computer Science from Jackson State University in
      December of 2017. I have worked at Lockheed Martin as a Software Engineer from
      graduation until the end of January 2020.
    </p>

    <p>
      If you have any questions or are interested in working with me then please
      reach out to me at: jsonbytesllc@gmail.com.
    </p>
  </section>

  <footer class="footer col-md-12">
    <ul class="social">
      <li class="my-primary"><a href="https://github.com/JsonTyler" target="_blank">Github</li>
      <li><a href="https://www.linkedin.com/in/jason-bruno/" target="=_blank">LinkedIn</li>
      <li><a href="https://www.youtube.com/" target="_blank">Youtube</li>
    </ul>
  </footer>
</div>
{% endblock about %}
