{% extends "layout.html" %}
{% block content %}
    {% for post in posts.items %}
        <article class="media content-section-main bg-light">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
          <div class="media-body">
            <div class="article-metadata">

              <span class="icon ">
                <i class="fas fa-user"></i>
              </span>
              <a class="mr-2" href="{{ url_for('main.about') }}">{{ post.author.username }}</a>

              <span class="icon ">
                <i class="fas fa-calendar"></i>
              </span>
              <a class="mr-2 text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</a>

              <span class="icon ">
                <i class="fas fa-tags"></i>
              </span>
              <a class="mr-2 text-muted">{{ post.tags }}</a>

            </div>
            <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
            <img src="{{ post.image }}" width="100%" height=auto>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %}
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if posts.page == page_num %}
          <a class="btn btn-info mb-4 bg-light text-dark" href="{{ url_for('main.blog', page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-info mb-4 bg-light text-dark" href="{{ url_for('main.blog', page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
      <a class="text-white">...</a>
      {% endif %}
    {% endfor %}
{% endblock content %}

{% block sidebar %}
<div class="content-section-sidebar bg-dark">
  <h3 class="text-light">Blog Topics</h3>
  <h6 class='text-muted bg-dark'>Want to be notified when there's a new post?</h6>
  <h6 class='text-muted bg-dark'>Sign up <a href="{{ url_for('users.register')}}">Here</a>.</h6>
    <ul class="list-group">
      <li class="list-group-item list-group-item-light">Latest Posts</li>
      <li class="list-group-item list-group-item-light">Announcements</li>
      <li class="list-group-item list-group-item-light">Calendars</li>
      <li class="list-group-item list-group-item-light">etc</li>
    </ul>

</div>
{% endblock sidebar %}
