{% extends "layout.html" %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section-main bg-light">
          <div class="media-body">
            <div class="article-metadata">

              <span class="icon ">
                <i class="fas fa-user"></i>
              </span>
              <a class="mr-2" href="{{ url_for('about') }}">{{ post.author }}</a>

              <span class="icon ">
                <i class="fas fa-calendar"></i>
              </span>
              <a class="mr-2 text-muted">{{ post.date_posted }}</a>

              <span class="icon ">
                <i class="fas fa-tags"></i>
              </span>
              <a class="mr-2 text-muted">{{ post.tags }}</a>

            </div>
            <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
            <img src="{{ post.image }}" width="100%" height=auto>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}

{% block sidebar %}
<div class="content-section-sidebar bg-dark">
  <h3 class="text-light">Blog Topics</h3>
  <h6 class='text-muted bg-dark'>Want to be notified when there's a new post?</h6>
  <h6 class='text-muted bg-dark'>Sign up <a href="{{ url_for('register')}}">Here</a>.</h6>
    <ul class="list-group">
      <li class="list-group-item list-group-item-light">Latest Posts</li>
      <li class="list-group-item list-group-item-light">Announcements</li>
      <li class="list-group-item list-group-item-light">Calendars</li>
      <li class="list-group-item list-group-item-light">etc</li>
    </ul>

</div>
{% endblock sidebar %}
