{% extends "layout.html" %}
<h1 class="text-light">Gallery Page</h1>
{% block gall %}
<div class="container-fluid pt-2">
  <div class="card-columns">
    {% for img in gallery %}
    <div class="card">
      <a href="{{ url_for('static', filename=img.filepath) }}" data-toggle="demolightbox" data-title= "{{ img.location }}" data-footer="{{ img.caption }}"/>
      <img class="card-img-top img-responsive" style="width:100%; height: auto;" src={{ url_for('static', filename=img.filepath) }} />
    </div>
    {% endfor %}
  </div>
</div>
{% endblock gall %}
