{% extends "layout.html" %}

{% block topic_programming %}
    {% for story in stories.items %}
      {% if story.topic.value == 'programming' %}
        <article class="media content-section-main">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + story.author.image_file) }}">
          <div class="media-body">
            <div class="article-metadata">

              <span class="icon ">
                <i class="fas fa-user"></i>
              </span>
              <a class="mr-2" href="{{ url_for('main.about') }}">{{ story.author.username }}</a>

              <span class="icon ">
                <i class="fas fa-calendar"></i>
              </span>

              <a class="mr-2 text-muted">{{ story.date_posted.strftime('%Y-%m-%d') }}</a>
	      
              <span class="icon ">
                <i class="fas fa-tags"></i>
              </span>
              <a class="mr-2 text-muted badge badge-light">{{ story.topic.value }}</a>

            </div>
            <h2><a class="article-title" href="#">{{ story.title }}</a></h2>
            <img src="{{ story.image }}" width="100%" height=auto>
            <p class="article-content">{{ story.content }}</p>
          </div>
        </article>
      {% endif %}
    {% endfor %}
{% endblock topic_programming %}

{% block sidebar %}
<div class="content-section-sidebar">
  <a class="text-muted">Categories</a>
    <ul class="list-group">
        <a class="text-muted" href="{{ url_for('posts.topic_programming') }}">Programming</a>
        <a class="text-muted" href="{{ url_for('posts.topic_frameworks') }}">Frameworks</a>
        <a class="text-muted" href="{{ url_for('posts.topic_libraries') }}">Libraries</a>
        <a class="text-muted" href="{{ url_for('posts.topic_algorithms') }}">Algorithms</a>
        <a class="text-muted" href="{{ url_for('posts.topic_data') }}">Data-Structures</a>
        <a class="text-muted" href="{{ url_for('posts.topic_projects') }}">Projects</a>
        <a class="text-muted" href="{{ url_for('posts.topic_film') }}">Film/Editing</a>
        <a class="text-muted" href="{{ url_for('posts.topic_thoughts') }}">Thoughts/Ideas</a>
        <a class="text-muted" href="{{ url_for('posts.topic_diy') }}">DIY</a>
    </ul>
</div>
{% endblock sidebar %}

